TesteServiceLogin/xml-resources/web-service-references/ServiceLogin/wsdl/localhost_8080/WebServiceLogin/ServiceLogin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unicamp.cotuca.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unicamp.cotuca.br/" name="ServiceLogin">
<types>
<xsd:schema>
<xsd:import namespace="http://unicamp.cotuca.br/" schemaLocation="http://localhost:8080/WebServiceLogin/ServiceLogin?xsd=1"/>
</xsd:schema>
</types>
<message name="cadastrado">
<part name="parameters" element="tns:cadastrado"/>
</message>
<message name="cadastradoResponse">
<part name="parameters" element="tns:cadastradoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="verificaLogin">
<part name="parameters" element="tns:verificaLogin"/>
</message>
<message name="verificaLoginResponse">
<part name="parameters" element="tns:verificaLoginResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="soma">
<part name="parameters" element="tns:soma"/>
</message>
<message name="somaResponse">
<part name="parameters" element="tns:somaResponse"/>
</message>
<portType name="ServiceLogin">
<operation name="cadastrado">
<input wsam:Action="http://unicamp.cotuca.br/ServiceLogin/cadastradoRequest" message="tns:cadastrado"/>
<output wsam:Action="http://unicamp.cotuca.br/ServiceLogin/cadastradoResponse" message="tns:cadastradoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://unicamp.cotuca.br/ServiceLogin/cadastrado/Fault/Exception"/>
</operation>
<operation name="verificaLogin">
<input wsam:Action="http://unicamp.cotuca.br/ServiceLogin/verificaLoginRequest" message="tns:verificaLogin"/>
<output wsam:Action="http://unicamp.cotuca.br/ServiceLogin/verificaLoginResponse" message="tns:verificaLoginResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://unicamp.cotuca.br/ServiceLogin/verificaLogin/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://unicamp.cotuca.br/ServiceLogin/verificaLogin/Fault/SQLException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://unicamp.cotuca.br/ServiceLogin/verificaLogin/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://unicamp.cotuca.br/ServiceLogin/helloRequest" message="tns:hello"/>
<output wsam:Action="http://unicamp.cotuca.br/ServiceLogin/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="soma">
<input wsam:Action="http://unicamp.cotuca.br/ServiceLogin/somaRequest" message="tns:soma"/>
<output wsam:Action="http://unicamp.cotuca.br/ServiceLogin/somaResponse" message="tns:somaResponse"/>
</operation>
</portType>
<binding name="ServiceLoginPortBinding" type="tns:ServiceLogin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cadastrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="verificaLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceLogin">
<port name="ServiceLoginPort" binding="tns:ServiceLoginPortBinding">
<soap:address location="http://localhost:8080/WebServiceLogin/ServiceLogin"/>
</port>
</service>
</definitions>